<h2><a href="<%= house_characters_path(@house.id) %>">View <%= @house.name %> characters</a></h2>
<%= image_tag @house.sigil_url %>
<% @house.characters.each do |char| %>
<div class="char">
  <h2><%= link_to char.name, house_character_path(@house.id, char.id) %></h2>
  <%= image_tag char.photo_url %>
</div>
<% end %>
<h3><a href="<%= edit_house_path(@house) %>">Edit house</a></h3>
<h4><%= link_to 'DELETE house', house_path(@house), method: :delete %></h4>
