<!DOCTYPE html>
<html>
  <head>
    <title>GameOfThrones</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1><a href="<%= houses_path %>" style="display:inline-block;">Game Of Thrones</a></h1>
    <h2><a href="<%= characters_path %>" style="display:inline-block; float:right;">Character list</a></h2>
    <%= yield %>
  </body>
</html>
